/* font-family: 'DM Serif Display', serif;

font-family: 'Karla', sans-serif;

font-family: 'Oswald', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Primary Colors */
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    /* Neutral Colors */
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
    --black: #000000;
    /* Typography */

    --dm-serif-display: 'DM Serif Display', serif;
    --karla: 'Karla', sans-serif;
    --oswald: 'Oswald', sans-serif;

    --light: 400;
    --bold: 700;
    --bolder: 900;

    --line-height: 1.7;
}

body {
    font-size: 1em;
    font-weight: var(--light);
    font-family: var(--karla);
    line-height: var(--line-height);
    overflow-x: hidden
}

h1,
h2,
h3,
h4 {
    font-family: var(--dm-serif-display);
}

li {
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}

/* Active State*/

button {
    width: 50%;
    padding: 1em 0;
    margin-top: 1.5em;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
    cursor: pointer;
}

/* Button Animation */
.hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    /* background: var(--dark-violet); */
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--very-light-gray);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-vertical:hover,
.hvr-shutter-out-vertical:focus,
.hvr-shutter-out-vertical:active {
    color: var(--dark-violet);
}

.hvr-shutter-out-vertical:hover:before,
.hvr-shutter-out-vertical:focus:before,
.hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* Color Styling */

.intro__text h1,
.intro__text p,
.about {
    color: var(--very-light-gray);
}

.intro__text,
.about {
    background: var(--dark-violet);
}

.features h2::before,
.footer__icons::after {
    background-color: var(--dark-grayish-violet);
}

.box h3,
.features h2 {
    color: var(--dark-violet);
}

.box p,
.footer__items h4 {
    color: var(--dark-grayish-violet);
}

.intro__text,
.features,
.about,
.footer,
.attribution {
    text-align: center;
}


/* Nav Styling */
header {
    background-color: var(--very-light-gray);
    display: flex;
    align-items: center;
    min-height: 10vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Mobile Navigation Styling */

@media (max-width:43.75em) {

    /* Nav Links Styling */

    .nav__item a {
        font-family: var(--dm-serif-display);
        color: var(--very-light-gray);
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: var(--bold);
    }

    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        padding-top: 3em;
        gap: 3em;
        right: 0;
        top: 10vh;
        width: 100%;
        height: calc(100vh - 10vh);
        background-color: var(--very-dark-violet);
        background-image: url(./images/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
        transform: translateX(100%);
        transition: transform .5s ease;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-active {
        transform: translateX(0);
    }

    /* Nav Links Animation */
    .hover::before,
    .hover::after {
        content: '';
        height: 2px;
        width: 100%;
        background-color: var(--very-light-gray);
        display: block;
        transform: scale(0, 1);
        transition: all 0.3s ease-out;
    }

    .hover::before {
        transform-origin: left;
    }

    .hover::after {
        transform-origin: right;
    }

    .hover:hover::before,
    .hover:hover::after {
        transform: scale(1, 1);
    }

    /* Bounce To Bottom */
    .hvr-bounce-to-bottom {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        border: 2px solid var(--very-light-gray);
        padding: .3em 3em;
    }

    .hvr-bounce-to-bottom:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--very-light-gray);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-bounce-to-bottom:hover,
    .hvr-bounce-to-bottom:focus,
    .hvr-bounce-to-bottom:active {
        color: var(--very-dark-violet);
    }

    .hvr-bounce-to-bottom:hover:before,
    .hvr-bounce-to-bottom:focus:before,
    .hvr-bounce-to-bottom:active:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(-350px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Burger Styling */

    .burger {
        cursor: pointer;
    }

    .burger>div {
        width: 20px;
        height: 2px;
        background-color: var(--black);
    }

    .burger .line1,
    .burger .line2 {
        margin-bottom: 3px;
    }

    .burger .line1 {
        transition: all 0.2s ease;
    }

    .burger .line3 {
        transition: all 0.2s ease;
    }

    .toggle .line1 {
        transform: rotate(45deg) translatex(5px) translateY(2px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(-45deg) translateX(5px) translateY(-3px);
    }
}

/* Intro styling */

.intro__text {
    padding: 4em 0;
    background-image: url(./images/bg-pattern-intro-left-mobile.svg);
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
}

.intro__text::after {
    content: url(./images/bg-pattern-intro-right-mobile.svg);
    position: absolute;
    right: 0;
    top: 67%;
}

.intro__text h1 {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: .5em;
}

.intro__btn {
    font-size: .9rem;
    letter-spacing: 2px;
}

/* Feature Styling */

.features {
    padding: 6em 0 5em 0;
}

.features h2 {
    font-size: 2.5rem;
    font-weight: var(--bold);
}

.features h2::before {
    content: '';
    height: 1px;
    width: 30%;
    margin: 0 auto .5em auto;
    display: block;
    background-color: var(--dark-grayish-violet);
}

.features__box,
.box+.box {
    margin-top: 3em;
}

.box h3 {
    margin-top: 1.5em;
    font-size: 1.5rem;
    font-weight: var(--light);
}

.box p {
    margin-top: .5em;
}

.features img {
    margin: 0 auto;
}

/* About Styling */

.about {
    margin: 2em auto 0 auto;
    padding: 4em 1.5em;
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.about h2 {
    font-size: 2.5rem;
    font-weight: var(--light);
    line-height: 1.2;
    margin-bottom: .6em;
}

.about__btn {
    letter-spacing: 2px;
    line-height: 1.5;
}

/* Footer Styling */

footer {
    margin-top: 5em;
    padding-top: 5em;
    background-color: var(--very-light-gray);
    background-image: url(./images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
}

.footer__icons>img {
    margin: 0 auto;
    margin-bottom: 2em;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
}

.footer__icons::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
}

.footer__items,
.items+.items {
    margin-top: 2em;
}

.footer__items .items h4 {
    margin-bottom: 2em;
    font-weight: var(--light);
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: 1px;
    font-family: var(--karla);
}

/* Footer Links and SVG Styling */

.footer__link {
    color: var(--very-dark-violet);
    text-transform: uppercase;
    font-weight: var(--bold);
    font-size: .9rem;
    letter-spacing: 1px;
}

.svg {
    fill: var(--dark-grayish-violet);
}

.footer__link:hover {
    text-decoration: underline;
}

.svg:hover {
    fill: var(--very-dark-violet);
}

.icons .svg {
    transition: all .3s ease;
}

/* Attribution Styling */

.attribution {
    margin: 2em 0;
    font-size: 1.1rem;
    color: var(--dark-grayish-violet);
}

.attribution a {
    color: var(--very-dark-violet);
    font-weight: var(--bold);
}

/* Desktop View */

@media (max-width:43.75em) {}